.products-banner{
    background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=1380&q=80);
    height: 496px;
}
.img-position{
    top: 40px;
    right: 50px;
   
}
.pointer{
    cursor: pointer;
   
}
.boder-bottom-c2{
    border: 1px solid $c2;
    border-top-color: transparent;
}
.btn-hover-c2{
    &:hover{
        background: $c2;
    }
}
.boder-c2{
    border: 1px solid $c2;
}

